<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @event.body %>
</p>

<p>
  <strong>Lover:</strong>
  <%= @event.Lover %>
</p>

<p>
  <strong>Email:</strong>
  <%= @event.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @event.password %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
